# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
newgen
bin
.vscode
go.sum

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#intellij proj files - so much better than vscode
.idea
